<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Python.Wrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PythonProgramWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PythonProgramWrapper.program" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Python.Wrapper.Properties.Settings>
            <setting name="LastModulePath" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="DoNoConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Release" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunImd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="Context" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shortcut" serializeAs="String">
                <value>False</value>
            </setting>
        </Python.Wrapper.Properties.Settings>
        <PythonProgramWrapper.Properties.Settings>
            <setting name="LastModulePath" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="DoNoConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Release" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunImd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="Context" serializeAs="String">
                <value>False</value>
            </setting>
        </PythonProgramWrapper.Properties.Settings>
        <PythonProgramWrapper.program>
            <setting name="LastModulePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DoNoConsole" serializeAs="String">
                <value>False</value>
            </setting>
        </PythonProgramWrapper.program>
    </userSettings>
</configuration>